@import url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css');

body {
    font-family: "LXGW WenKai", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-weight: normal;
}

/* 返回顶部按钮字体 */
button.md-top {
    font-family: "LXGW WenKai";
    font-size: 16px;
    font-weight: bold;
}